/* Headlines with Animated Mesh Gradient Background - https://codesandbox.io/s/pmugf */
.header_animated_mesh_gradient {
  will-change: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("https://products.ls.graphics/mesh-gradients/images/14.-Prim_1.jpg");
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: bg 8s cubic-bezier(0.77, 0, 0.175, 1) 2s infinite;
}

@keyframes bg {
  0% {
    background-position: 5% 5%;
  }
  25% {
    background-position: 5% 95%;
    background-size: 250%;
  }
  50% {
    background-position: 95% 95%;
    background-size: 150%;
  }
  75% {
    background-position: 5% 95%;
  }
  100% {
    background-position: 5% 5%;
  }
}

/* Neon Text - https://codepen.io/silvia-odwyer/pen/MWJVaqm */
.neonText {
  color: #000000;
  text-shadow:
      0 0 7px #e93b81,
      0 0 10px #e93b81,
      0 0 21px #e93b81,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}